// -----------------------------
// Imports
// -----------------------------

@import "@{templateCommon}/basekit-bootstrap.less";
@import "@{templateLocal}/css/widgets.less";
@import "@{templateLocal}/css/ecommerce.less";

// -----------------------------
// Page Settings
// -----------------------------

body {
    width: 100%; 
    height: 100%;
    background-position: 0px 0px;
    background: image('/images/background.png');
}

// Wrapper 
.wrapper {
    width: 80%;
    margin: 0 10%;
    @media @mobile {
        width:90%;
        margin: 0 5%;
    }
}

ul, li {
	margin: 0;
}

.page-wrap {
    padding:30px;
    width: 70%;
    margin: 0px auto;
    background-color:@color-swatch1;
    @media (max-width: 1024px) {
        width: 90%;
        margin: 0px 5%;
    @media @tablet {
        width: 90%;
        margin: 0px 5%;
        }
    }
}

.page-wrap {
    @media @mobile {
        width:inherit;
        margin:0;
        padding:0;
    }
}

.page-wrap-slideshow {
    width: 960px;
    margin: 0px auto;
    background-color:@color-swatch1;
    @media (max-width: 1024px) {
        width: 90%;
        margin: 0px 5%;
    @media @tablet {
        width: 90%;
        margin: 0px 5%;
        }
    }
}

// -----------------------------
// Default Page
// -----------------------------

.bk-pt-default .companyheader {
    margin-bottom:30px;
}

// -----------------------------
// Header
// -----------------------------

.headerbanner {
    background-color:@color-swatch4;
    .page-wrap {
        background-color:transparent;
        padding:10px 0px 0px 0px;
    }
}

.headerbanner .widget.profile .bk-profile-socialicons {
    margin:0;
}

.header-right  {
    margin:0;
    float:right;
    @media @mobile {
        text-align: center;
        float:none;
        margin-top:0;
        margin-bottom:5px;
    }
}

.header-left .map {
    margin-bottom:10px;
    @media @mobile {
        min-width:280px;
    }
}

.header-right .map {
    margin-bottom:10px;
    min-width:350px;
    @media @mobile {
        min-width:280px!important;
    }
}

.header-left {
    @media @mobile {
        margin:0px auto;
        display:table;
        text-align:center;
    }
}

header.bk-header {
    background-color:@color-swatch1;
}

.companyheader {
    display: block;
    padding: 0;
    padding: 20px 0px;
}

.companytitle {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    &:before {
        content: '';
        display: block;
        position: absolute;
        border-top: 1px solid @color-swatch7;
        height: 2px;
        margin-top: -1px;
        top: 50%;
        width: 25%;
        left: 0;
        right: 0;
        margin: 0 auto;
        min-width: 500px;
        @media @tablet {
            display: none;
            margin-bottom:0;
        }
    }
}

.widget.companyname {
    text-align: center;
    display: inline;
    text-align: center;
    padding: 0px 20px;
    margin: 0;
    background: @color-swatch1;
}

.companyname a:hover {
    text-decoration: none;
}

.widget.companyname a {
    padding: 0;
    @media @mobile {
        line-height: bkscale(@font-swatch10-line-height, 0.8);
    }
}

.border {
    border:1px solid @color-swatch7;
    width: 97%;
    margin:0 20px;
    @media @tablet {
        width:100%;
    }
}

.border.page-wrap {
    padding: 20px 0px;
    width:inherit;
    @media @tablet {
        padding: 20px 0px 0px;
    }
}

.widget.logo {
    margin-right: 2px;
    padding-top: 6px;
}

.widget {
    &.logo, &.companyname {
        vertical-align: middle;
        margin: 0px auto;
        display: table;
    }
}

.mainzone {
    border:1px solid @color-swatch7;
    padding:20px;
}

// -----------------------------
// Extended Navigation
// -----------------------------

.widget .extendednavigation {
    .clearfix;
    @media @tablet {
        padding-top:60px;
        margin: 10px 0 10px;
    }
}

.widget .extendednavigation ul {
    @media @tablet {
        padding-top:0;
    }
}

.widget .extendednavigation ul li {
    @media @tablet {
        padding:0;
        border-bottom:0;
    }
}

.widget .extendednavigation ul li:hover ul {
    background-color:lighten(@color-swatch7,3%);
    padding:0px 20px;
    @media @tablet {
        margin:0;
    }
}

.widget .extendednavigation > ul > li > a, .widget .extendednavigation ul li.folder > .text {
    padding:5px 20px;
}

.widget .extendednavigation ul li.folder:after {
    top:48%;
    border-top-color:@font-swatch6-color;
}

.widget .extendednavigation ul li a {
    padding:5px 20px;
}

.widget .extendednavigation ul li a:hover, .widget .extendednavigation ul li.folder .text:hover {
    color:darken(@font-swatch6-color,10%);
    text-decoration:underline;
}

.widget .extendednavigation a.pull {
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 12px!important;
    width: 40px;
    height: 40px;
}

.widget .extendednavigation a.pull:after {
    @media @tablet {
        background: image('/images/nav-icon.png');
        background-repeat :no-repeat;
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        right: 0;
        margin: 0px auto;
        left: 0;
        box-shadow:none;
    }
}

.widget.extendednavigation .bk-overlay {
    width: 100% !important;
    left: inherit !important;
}

// -----------------------------
// Feature
// -----------------------------

.widget.feature .feature-bgimg {
    height: 400px;
}

.widget.feature .feature-bgimg .content {
    height: 400px;
}

.widget.feature .feature-bgimg .content .spare {
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 50%;
    float: left;
    margin-left: 160px;
    display: block;
    width:30%;
    margin:20px 15%;
    text-align:center;
    min-width: 300px;
    @media @tablet {
        margin: 20px 6%;
    }
    @media @mobile {
        margin: 20px auto;
        display: table;
        float:none;
    }
}

.widget.feature h2 {
    &:after {
        border-top: 1px solid lighten(@color-swatch5, 35%);
        content: "";
        display: block;
        position: relative;
        margin: 25px auto 5px;
        min-width: 80px;
        max-width: 200px;
        width: 18%;
    }
}

.spare.wrapper {
    border:1px solid @color-swatch1;
    outline:5px solid rgba(0, 0, 0, 0.3);
}

.widget.feature .feature-bgimg .content button {
    margin:0;
    padding: 0;
}

.widget.feature .feature-bgimg .content button.btn {
    background-color:@color-swatch3;
    padding:5px 10px;
}

// -----------------------------
// Footer
// -----------------------------

footer.bk-footer {
	background-color:@color-swatch4;
    padding:60px 0px;
}

footer.bk-footer .widget.companyname {
    text-align: center;
    padding: 0px 20px;
    background: transparent;
    top:0;
    margin-bottom:10px;
    a {
        color:@font-swatch7-color;
    }
}

footer.bk-footer .bk-content-text {
    color:@font-swatch7-color;
    text-align:center;
}

.responsivecolumns .column {
    @media @mobile {
        min-height:0;
    }
}

.widget.profile .bk-profile-socialicons span a {
  text-align:center;
  background-color:transparent;
  margin:0;
}

.bk-profile-address p {
    color: @font-swatch7-color;
    float:left!important;
    padding-right:5px;
}

.widget.profile span, .widget.profile span, .widget.profile p, .bk-profile-email a {
    color: @font-swatch7-color;
}

.widget.profile form, .widget.profile map {
    margin-bottom:10px;
}

.bk-profile-address p:after {
    content: ",";
    margin-left: -0.2em;
}

.bk-profile-address p {
    &:last-child:after {
        content:none;
    }
}